{% extends 'user/partials/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Recommandations</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Dubai - 31956.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Mountains - 31175.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Nature - 31377.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Forest - 32812.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Rain - 28236.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Sea - 33194.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Macro - 34855.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Mountain - 34608.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Night Sky - 31569.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Stock Footage - 35146.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Sunrise - 28975.mp4') }}" controls="controls"></video>
            </div>
            <div class="col-3">
                <video class="video-mini" src="{{ asset('videos/Sunrise - 30850.mp4') }}" controls="controls"></video>
            </div>
        </div>
    </div>
{% endblock %}
